@model Xobnu.WebUI.Models.ExLogOnViewModel

@{
    ViewBag.Title = "Add Credentials";
    ViewBag.PageHeader = "Add New Credential";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Javascript {
    <script src="~/Scripts/jquery.showLoading.js"></script>
}

<script>
    $('.breadcrumb').html('<li><i class="icon-home home-icon"></i>@Html.ActionLink("Home","Index","Admin")</li><li>Manage</li><li class="active">Add</li>');
</script>

<script src="~/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>


<div class="row">
    <div class="col-xs-12">
        <div style="float: right;">
            <a class="btn btn-sm btn-primary" href="@Url.Action("ManageCredentials", "Folder")">
                <i class="icon-rotate-left align-top bigger-125"></i>
                Back
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="widget-box">
            <div class="widget-header header-color-blue2">
                <h4 class="lighter smaller">Add New Credentials</h4>
            </div>
            <div class="widget-body">

                <div id="accordion" class="accordion-style1 panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" id="collapseOneHeader" href="#collapseOne">
                                    <i class="bigger-110 icon-angle-down" data-icon-hide="icon-angle-down" id="collapseOneIcon" data-icon-show="icon-angle-right"></i>
                                    &nbsp;Office 365/ Hosted Exchange Systems
                                </a>
                            </h4>
                        </div>

                        <div class="panel-collapse in" id="collapseOne" style="height: auto;">
                            <div class="panel-body">
                                @using (Html.BeginForm("AddCredentials", "Folder", FormMethod.Post, new { @class = "form-horizontal", id = "frmHostExchanges" }))
                            {
                                    <input style="display: none" type="text" name="" />
                                    <input style="display: none" type="password" name="" />
                                    @Html.HiddenFor(x => x.ReturnUrl, new { value = @Model.ReturnUrl })
                                    @Html.HiddenFor(x => x.SelectedButton)
                                    @Html.HiddenFor(x => x.selectedFolderID)
                                    @Html.HiddenFor(x => x.Credentials.ServerVersion)
                                    @Html.HiddenFor(x => x.SecondaryAccount)
                                    @Html.HiddenFor(x => x.AccessType)
                                    @Html.HiddenFor(x => x.SpecificURL)
                                    @Html.HiddenFor(x => x.CreatedCredentialID)
                                    <div class="col-sm-7">
                                        <input type="hidden" id="creID" name="ServerVer" value="@Model.CreatedCredentialID" />
                                        <input type="hidden" id="ServerVer" name="ServerVer" value="@Model.ServerVer" />
                                        <input type="hidden" id="noOfConnections" name="ServerVer" value="@Model.ExistingCredentials.Count" />
                                        <input type="hidden" id="selectedbtn" name="ServerVer" value="@Model.SelectedButton" />
                                        @Html.Hidden("hosted", true)
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Name</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.Credentials.Name, new { @class = "col-xs-10 col-sm-10", @placeholder = "ABC Credentials" })
                                                <span class="help-inline col-xs-12 col-sm-7">
                                                    <span class="middle" style="color: red;">@Html.ValidationMessageFor(m => m.Credentials.Name)</span>
                                                </span>
                                                    <span class="btn btn-xs btn-white tooltip-info" data-rel="tooltip" data-placement="right" style="margin-left: 5px; margin-top: 4px;" title="Add a name by which to recognize these credentials "><i class="icon-info-sign align-top "></i></span>

                                        </div>
                                        </div>
                                        <div class="space-4"></div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Email</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.Credentials.EmailAddress, new { @class = "col-xs-10 col-sm-10", @placeholder = "abc@xyz.com" })
                                                <span class="help-inline col-xs-12 col-sm-7">
                                                    <span class="middle" style="color: red;">@Html.ValidationMessageFor(m => m.Credentials.EmailAddress)</span>
                                                </span>
                                                <span class="btn btn-xs btn-white tooltip-info" data-rel="tooltip" data-placement="right" style="margin-left: 5px; margin-top: 4px;" title="e.g. roger@rabbitsinc.com"><i class="icon-info-sign align-top "></i></span>
                                                <div class="col-sm-9" id="msgemail" style="color: red; padding: 0px;"></div>
                                            </div>
                                        </div>
                                        <div class="space-4"></div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Password</label>
                                            <div class="col-sm-9">
                                                @Html.PasswordFor(m => m.Credentials.Password, new { @class = "col-xs-10 col-sm-10", @Value = ViewBag.pass, @placeholder = "Password for above email" })
                                                <span class="help-inline col-xs-12 col-sm-7">
                                                    <span class="middle" style="color: red;">@Html.ValidationMessageFor(m => m.Credentials.Password)</span>
                                                </span>
                                                <span class="btn btn-xs btn-white tooltip-info" data-rel="tooltip" data-placement="right" style="margin-left: 5px; margin-top: 4px;" title="The password for this account"><i class="icon-info-sign align-top "></i></span>
                                            </div>
                                           
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Use specific URL</label>
                                            <div class="col-sm-9">
                                                <input type="checkbox" name="specificURL" value="specificURL" id="specificurl">
                                            </div>

                                        </div>
                                       
                                        <div class="form-group" id="exurl" style="display: none">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">URL</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(m => m.Credentials.URL, new { @class = "col-xs-10 col-sm-10", @Value = ViewBag.url, @placeholder = "https://mail.mydomain/ews/exchange.asmx" })
                                                <span class="btn btn-xs btn-white tooltip-info" data-rel="tooltip" data-placement="right" style="margin-left: 5px; margin-top: 4px;" title="This is your exchange webservices URL, usually looks like https://abc.xyz.com/ews/exchange.asmx"><i class="icon-info-sign align-top "></i></span>
                                                <br /><br />
                                                <div class="col-sm-9" id="msgurlin" style="color: red; padding: 0px;"></div>
                                                <div class="col-sm-9" id="msgurl" style="color: red;"></div>
                                                <div class="alert alert-block alert-info">
                                                    If your OWA URL is<br />
                                                    <strong class="green">
                                                        https://mail.mydomain/owa/
                                                    </strong><br />
                                                    your EWS URL will be something like:<br />
                                                    <strong class="green">
                                                        https://mail.mydomain/ews/exchange.asmx
                                                    </strong>
                                                </div>

                                                <div style="color: green">
                                                    @if (ViewBag.auto != null)
                                            { @ViewBag.auto
                                            }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-3 col-md-9">
                                            <div style="color: green; margin-top: 20px;">
                                                @if (ViewBag.msucess != null)
                                        { @ViewBag.msucess
                                        }
                                            </div>

                                            <div style="color: red; margin-top: 20px;" id="msgexchangeFail">
                                                @if (ViewBag.mfail != null)
                                        { @ViewBag.mfail
                                        }
                                            </div>
                                            <div id="msgsucess" style="color: green"></div>
                                            <div id="msgfail" style="color: red"></div>

                                            <input type="submit" value="Back to Credential List" class="btn btn-info" id="btnNext" style="display: none" onclick="$('#loading').addClass('inline', 1000);">
                                            <input type="submit" value="Set up New Connection" class="btn btn-info" id="btnSetUpConnection" style="display: none" onclick="$('#loading').addClass('inline', 1000);">
                                            <input type="submit" value="Auto Discover and Save" id="btnAutoDiscover" style="display: none" class="btn btn-info" onclick="$('#loading').addClass('inline', 1000);" />
                                            <input type="submit" value="Test Connection" id="btnTest" style="display: none" class="btn btn-info" onclick="$('#loading').addClass('inline', 1000);" />
                                            <input type="text" name="FirstName" value="@Model.SpecificURL" id="getspecificurl" style="display:none;">
                                            <input type="text" name="FirstName" value="@ViewBag.tmessage" id="testmessage" style="display:none;">
                                            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            




                                        </div>
                                        <div id="loading" style="display: none;">Loading!&nbsp;&nbsp;<img src="~/Content/Images/ajax-loader.gif" alt="" /></div>
                                       
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="alert alert-success">                                           
                                            <div class="cc-msg" style="text-align:left;">
                                                <ul class="list-unstyled spaced2">
                                                    <li>
                                                        <i class="icon-circle green"></i>
                                                        Xobnu needs to know the credentials to use to log into your Microsoft Exchange account.
                                                    </li>
                                                    <li>
                                                        <i class="icon-circle green"></i>
                                                        Xobnu logs into Exchange using mailbox credentials (email address, password, username).
                                                    </li>
                                                    <li>
                                                        <i class="icon-circle green"></i>
                                                        The details we need are slightly different depending on whether you are using a hosted Exchange, Office 365, or an in-house Exchange system.
                                                    </li>
                                                    <li>
                                                        <i class="icon-circle green"></i>
                                                        If the Exchange is set up for 'auto-discover', we don't need to know the system URL - we can find the URL from your email address.
                                                    </li>
                                                    <li>
                                                        <i class="icon-circle green"></i>
                                                        We recommend you try the auto-discover method first.
                                                    </li>
                                                    <li>
                                                        <i class="icon-circle green"></i>
                                                        If for some reason auto-discover does not work, you can manually enter the URL of the Exchange. Specifically we need the URL of the Exchange Web Services.
                                                    </li>

                                                    <li>
                                                        <i class="icon-circle green"></i>
                                                        This is usually very similar to the URL used for Outlook Web Access, with a slight variation at the end.
                                                    </li>
                                                    <li>
                                                        <i class="icon-circle green"></i>
                                                        For example if your OWA URL is: <a>https://mail.mydomain/owa/ </a><br/>
                                                        your EWS URL will be something like: <a>https://mail.mydomain/ews/exchange.asmx </a>
                                                    </li>

                                                </ul>
                                                

                                               
                                                </div>

                                               
                                            </div>
                                        </div>
                                        <div class="col-sm-4" style="display:none;">
                                            <div class="row">
                                                <input id="userThisAccount" type="checkbox" value="true" name="Remember" class="col-xs-1" />
                                                <div class="col-xs-9">Use this account to access a different mailbox</div>
                                            </div>
                                            <div id="showaccount" style="display: none">
                                                <div class="row">
                                                    <div class="col-sm-12 control-label">
                                                        <div class="col-sm-1">
                                                        </div>
                                                        <div style="float: left">Email address of other mailbox</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-1">
                                                        </div>
                                                        <div class="col-sm-9">
                                                            @*<input class="form-control" id="otheremail" type="text" value="">*@
                                                            <select id="otheremail" placeholder="Please enter or select secondary email..." style="width: 100%" onchange="getSecondaryEmailOffice365(this)">
                                                                <option></option>
                                                                @foreach (var SecondaryAccount in Model.ExistingConnections)
                                                    {
                                                                    <option value="@SecondaryAccount.SecondaryAccount">@SecondaryAccount.SecondaryAccount</option>
                                                    }
                                                            </select>
                                                            <div id="othermsgemail" style="color: red;"></div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-1">
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <input type="radio" name="accessType" value="1" id="1">Delegation<br>
                                                        <input type="radio" name="accessType" value="2" id="2">Impersonation
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        }
                                    </div>
                            
                                </div>
                            </div>

                 

                                    <script>

                                        $(document).ready(function () {

                                            var selectedbtn = $("#selectedbtn").val();
                                            var selectedOff365 = 'No';
                                            if (selectedbtn == 'auto' || selectedbtn == 'test') { selectedOff365 = 'Yes' }
                                            else { selectedOff365 = 'No'; }
                                            var existingConnections = $("#noOfConnections").val();

                                            // set editable combo
                                            $("#otheremail").kendoComboBox();

                                            //add remove class to collape
                                            if (existingConnections == '0' || selectedOff365 == 'Yes') {

                                            }
                                            else {
                                                $("#collapseOne").removeClass('in');
                                                $("#collapseOne").addClass('collapse');
                                                $("#collapseOneHeader").addClass('collapsed');
                                                $("#collapseOneIcon").removeClass('icon-angle-down');
                                                $("#collapseOneIcon").addClass('icon-angle-right');
                                            }

                                            var surl = false;
                                            var _otheremail = $("#SecondaryAccount").val();
                                            var _accesstype = $("#AccessType").val();
                                            var _emailadd = $("#Credentials_EmailAddress").val();
                                            var _password = $("#Credentials_Password").val();
                                            var _url = $("#Credentials_URL").val();

                                            SetLoginPropertiess();

                                            // use different mailbox tick box
                                            if (_otheremail != '') {
                                                $("#userThisAccount").prop('checked', true);
                                                $("#otheremail").val(_otheremail);
                                                $('#showaccount').show();
                                            }
                                            else {
                                                $("#userThisAccount").prop('checked', false);
                                                $('#showaccount').hide();
                                            }

                                            //select access type
                                            if (_accesstype == 0) {
                                                $('#1').prop('checked', true);
                                                $("#AccessType").val('1')
                                            }
                                            else {
                                                $('#' + _accesstype).prop('checked', true);
                                                $("#AccessType").val(_accesstype)
                                            }

                                            $('#1c').prop('checked', true);
                                            $("#AccessTypec").val('1')
                                        });

                                        function validateEmail(sEmail) {

                                            var filter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                                            if (filter.test(sEmail)) {
                                                return true;
                                            }
                                            else {
                                                return false;
                                            }
                                        }


                                        $("#Credentials_Password, #Credentials_EmailAddress").focusout(function () {
                                            var _emailadd = $("#Credentials_EmailAddress").val();
                                            var _password = $("#Credentials_Password").val();
                                            var _url = $("#Credentials_URL").val();

                                            if (validateEmail(_emailadd)) {
                                                $("#msgemail").text('');
                                            }
                                            else {
                                                if (_emailadd != '') {
                                                    $("#msgemail").text('invalid email');
                                                }
                                                $("#Credentials_EmailAddress").val('')
                                                e.preventDefault();
                                            }

                                        });


                                        $("#Credentials_Password, #Credentials_EmailAddress").focusin(function () {

                                            var _emailadd = $("#Credentials_EmailAddress").val();
                                            var _password = $("#Credentials_Password").val();
                                            var _url = $("#Credentials_URL").val();


                                            if (validateEmail(_emailadd)) {
                                                $("#msgemail").text('');
                                            }
                                            else {

                                                if (_emailadd != '') {
                                                    $("#msgemail").text('invalid email');
                                                }
                                                $("#Credentials_EmailAddress").val('')

                                                e.preventDefault();
                                            }

                                        });

                                        // get other email value
                                        //$("#otheremail").focusout(function () {
                                        //    var otheremail = $("#otheremail").val();

                                        //    if (validateEmail(otheremail)) {
                                        //        $("#othermsgemail").text('');
                                        //        $("#SecondaryAccount").val(otheremail);
                                        //        SetLoginPropertiess();
                                        //    }
                                        //    else {
                                        //        if (otheremail != '') {
                                        //            $("#othermsgemail").text('invalid email');
                                        //            $("#btnNext").hide();
                                        //            $("#SecondaryAccount").val('');

                                        //            if ($("#specificurl").is(":checked")) {
                                        //                $("#btnAutoDiscover").hide();
                                        //            }
                                        //            else {
                                        //                $("#btnTest").hide();
                                        //            }
                                        //        }
                                        //        $("#otheremail").val('')

                                        //        e.preventDefault();
                                        //    }
                                        //});

                                        function getSecondaryEmailOffice365(sel) {
                                            var otheremail = $("#otheremail").val();
                                            if (otheremail == '') { $("#SecondaryAccount").val(''); }
                                            if (validateEmail(otheremail)) {
                                                $("#othermsgemail").text('');
                                                $("#SecondaryAccount").val(otheremail);
                                                SetLoginPropertiess();
                                            }
                                            else {
                                                if (otheremail != '') {
                                                    $("#othermsgemail").text('invalid email');
                                                    $("#btnNext").hide();
                                                    $("#SecondaryAccount").val('');

                                                    if ($("#specificurl").is(":checked")) {
                                                        $("#btnAutoDiscover").hide();
                                                    }
                                                    else {
                                                        $("#btnTest").hide();
                                                    }
                                                }
                                                $("#otheremail").val('')

                                                e.preventDefault();
                                            }
                                        }


                                        function getSecondaryEmailCredi(sel) {
                                            var otheremailc = $("#otheremailc").val();
                                            if (otheremailc == '') { $("#SecondaryAccountc").val(''); }
                                            if (validateEmail(otheremailc)) {
                                                $("#othermsgemailc").text('');
                                                $("#SecondaryAccountc").val(otheremailc);
                                            }
                                            else {
                                                if (otheremailc != '') {
                                                    $("#othermsgemailc").text('invalid email');
                                                    $("#SecondaryAccountc").val('');
                                                }
                                                $("#otheremailc").val('')

                                                e.preventDefault();
                                            }
                                        }


                                        $("#Credentials_Password, #Credentials_EmailAddress, #Credentials_URL").focusout(function () {
                                            var _emailadd = $("#Credentials_EmailAddress").val();
                                            var _password = $("#Credentials_Password").val();
                                            var _url = $("#Credentials_URL").val();


                                            var txt = _url;
                                            var re = /(http(s)?:\\)?([\w-]+\.)+[\w-]+[.com|.in|.org]+(\[\?%&=]*)?/
                                            if (re.test(txt)) {
                                                $("#msgurl").text('');
                                            }
                                            else {
                                                if (_url != '') {
                                                    $("#msgurl").text('invalid url');
                                                }
                                                $("#Credentials_URL").val('')

                                            }

                                            if ($('#specificurl').is(":checked")) {
                                                $("#btnTest").show();
                                                $("#btnAutoDiscover").hide();
                                                $("#btnNext").hide();
                                            }

                                        });




                                        $(document).on({

                                            ajaxStart: function () { $("#loading").show(); },
                                            ajaxStop: function () { $("#loading").hide(); }
                                        });

                                        $("#btnNext").click(function (e) {
                                            var _serverversion = $("#ServerVer").val();
                                            var creadid = $("#creID").val();
                                            $("#SelectedButton").val('next');
                                            $("#Credentials_ServerVersion").val(_serverversion);
                                            $("#CreatedCredentialID").val(creadid);
                                        });

                                        $("#btnSetUpConnection").click(function (e) {
                                            var _serverversion = $("#ServerVer").val();
                                            var creadid = $("#creID").val();
                                            $("#SelectedButton").val('setUpConnection');
                                            $("#Credentials_ServerVersion").val(_serverversion);
                                            $("#CreatedCredentialID").val(creadid);
                                        });

                                        $("#btnAutoDiscover").click(function (e) {

                                            $("#SelectedButton").val('auto');
                                            //e.preventDefault();

                                            var emailadd = $("#Credentials_EmailAddress").val();
                                            var password = $("#Credentials_Password").val();
                                            $("#msgexchangeFail").hide();
                                        });

                                        $("#btnTest").click(function (e) {
                                            //e.preventDefault();
                                            $("#SelectedButton").val('test');
                                            var emailadd = $("#Credentials_EmailAddress").val();
                                            var password = $("#Credentials_Password").val();
                                            var url = $("#Credentials_URL").val();
                                            $("#msgexchangeFail").hide();
                                        });

                                        // Show and Hide different mailbox
                                        $('#userThisAccount').change(function () {
                                            if ($(this).is(":checked")) {
                                                $('#showaccount').show();
                                            }
                                            else {
                                                $('#showaccount').hide();
                                                $("#otheremail").val('');
                                                $("#SecondaryAccount").val('');
                                                $("#AccessType").val('0');
                                                SetLoginPropertiess();
                                            }

                                        });

                                        $("input:radio[name=accessType]").click(function () {
                                            var value = $(this).val();
                                            $("#AccessType").val(value);
                                        });

                                        // Show and Hide different mailboxC
                                        $('#userThisAccountc').change(function () {
                                            if ($(this).is(":checked")) {
                                                $('#showaccountc').show();
                                            }
                                            else {
                                                $('#showaccountc').hide();
                                                $("#otheremail").val('');
                                                $("#SecondaryAccountc").val('');
                                                $("#AccessTypec").val('0');
                                            }
                                        });

                                        $("input:radio[name=accessTypec]").click(function () {
                                            var value = $(this).val();
                                            $("#AccessTypec").val(value);
                                        });

                                        // Hide and Show Url textbox
                                        $('#specificurl').change(function () {

                                            var _otheremail = $("#SecondaryAccount").val();
                                            var _accesstype = $("#AccessType").val();
                                            var _emailadd = $("#Credentials_EmailAddress").val();
                                            var _password = $("#Credentials_Password").val();
                                            var _url = $("#Credentials_URL").val();

                                            if ($(this).is(":checked")) {
                                                $('#exurl').show();
                                                $("#SpecificURL").val('yes');
                                                $("#btnTest").prop('disabled', false);
                                                $("#btnTest").show();
                                                $("#btnAutoDiscover").hide();
                                                $("#btnNext").hide();

                                            }
                                            else {
                                                $('#exurl').hide();
                                                $("#SpecificURL").val('no');
                                                $("#btnAutoDiscover").show();
                                                $("#btnNext").hide();
                                                $("#btnTest").hide();
                                                console.log('4');
                                            }

                                        });

                                        function SetLoginPropertiess() {

                                            if ($("#getspecificurl").val() == 'yes') {
                                                $("#btnTest").show();
                                                $("#specificurl").prop('checked', true);
                                                $("#exurl").show();

                                                if ($("#testmessage").val() == 'sucess') {
                                                    $("#btnAutoDiscover").hide();
                                                    $("#btnNext").show();
                                                    $("#btnSetUpConnection").show();
                                                    $("#btnTest").hide();
                                                   
                                                    ReadOnlyOffice365('yes');
                                                }
                                                else if ($("#testmessage").val() == 'fail') {
                                                    $("#btnAutoDiscover").hide();
                                                    $("#btnNext").hide();
                                                    $("#btnSetUpConnection").hide();
                                                    $("#btnTest").show();
                                                    RemoveReadOnlyOffice365();
                                                }

                                            }
                                            else {
                                                $("#btnTest").hide();
                                                $("#btnAutoDiscover").show();
                                                console.log($("#testmessage").val());

                                                if ($("#testmessage").val() == 'sucess') {
                                                    $("#btnNext").show();
                                                    $("#btnSetUpConnection").show();
                                                    $("#btnAutoDiscover").hide();
                                                  
                                                    ReadOnlyOffice365('no');
                                                }
                                                else if ($("#testmessage").val() == 'fail') {
                                                    $("#btnNext").hide();
                                                    $("#btnSetUpConnection").hide();
                                                    $("#btnAutoDiscover").show();
                                                    RemoveReadOnlyOffice365();
                                                }

                                            }
                                        }

                                        function ReadOnlyOffice365(speurl) {

                                            $('#Credentials_Name').prop('readonly', true);
                                            $('#Credentials_EmailAddress').prop('readonly', true);
                                            $('#Credentials_Password').prop('readonly', true);
                                            if (speurl == 'yes') { $('#Credentials_URL').prop('readonly', true); }
                                        }

                                        function RemoveReadOnlyOffice365() {

                                            $('#Credentials_Name').prop('readonly', false);
                                            $('#Credentials_EmailAddress').prop('readonly', false);
                                            $('#Credentials_Password').prop('readonly', false);
                                            $('#Credentials_URL').prop('readonly', false);
                                        }

                                        //disable button
                                        $("#btnAutoDiscover").click(function () {
                                            $('#frmHostExchanges').submit(function () {
                                                $("#btnAutoDiscover").prop('disabled', false);
                                            });
                                        });
                                     

                                       





                                        $("#btnNext").click(function () {
                                            $('#frmHostExchanges').submit(function () {
                                                $("#btnNext").prop('disabled', true);
                                            });
                                        });

                                        $("#btnTest").click(function () {
                                            $('#frmHostExchanges').submit(function () {
                                                $("#btnTest").prop('disabled', false);
                                            });
                                        });
                                    </script>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle collapsed" id="collapseTwoHeader" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                    <i class="bigger-110 icon-angle-right" id="collapseTwoIcon" data-icon-hide="icon-angle-down" data-icon-show="icon-angle-right"></i>
                                                    &nbsp;Inhouse Exchange Systems
                                                </a>
                                            </h4>
                                        </div>

                                        <div class="panel-collapse collapse" id="collapseTwo" style="height: 0px;">
                                            <div class="panel-body">
                                                @using (Html.BeginForm("AddCredentials", "Folder", FormMethod.Post, new { @class = "form-horizontal", id = "frmInhouse" }))
                            {
                                                    <input style="display: none" type="text" name="" />
                                                    <input style="display: none" type="password" name="" />
                                                    @Html.HiddenFor(x => x.SelectedButtonInhouse)
                                                    @Html.HiddenFor(x => x.ExchangeType)
                                                    @Html.HiddenFor(x => x.ReturnUrlInhouse, new { value = @Model.ReturnUrlInhouse })
                                                    @Html.HiddenFor(x => x.selectedFolderIDInhouse, new { value = @Model.selectedFolderIDInhouse })
                                                    @Html.HiddenFor(x => x.ServerVersionInhouse)
                                                    @Html.HiddenFor(x => x.SpecificURLIn)
                                                    @Html.HiddenFor(x => x.ReturnUrl, new { value = @Model.ReturnUrl })
                                                    @Html.HiddenFor(x => x.SecondaryAccountIn)
                                                    @Html.HiddenFor(x => x.AccessTypeIn)
                                                    @Html.Hidden("hosted", false)
                                                    @Html.HiddenFor(x => x.CreatedCredentialIDIn)
                                                    <div class="col-sm-7">
                                                        <input type="hidden" id="creaCreateInID" name="ServerVer" value="@Model.CreatedCredentialIDIn" />
                                                        <input type="hidden" id="ServerVerIn" name="ServerVer" value="@Model.ServerVersionInhouse" />
                                                        <input type="hidden" id="getspecificURLIn" name="ServerVer" value="@Model.SpecificURLIn" />
                                                        <input type="hidden" id="getExchangeTypeIn" name="ServerVer" value="@Model.ExchangeType" />
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Name</label>
                                                            <div class="col-sm-9">
                                                                @Html.TextBoxFor(m => m.Name, new { @class = "col-xs-10 col-sm-10", @placeholder = "ABC Credentials" })
                                                                <span class="help-inline col-xs-12 col-sm-7">
                                                                    <span class="middle" style="color: red;">@Html.ValidationMessageFor(m => m.Name)</span>
                                                                </span>
                                                                <span class="btn btn-xs btn-white tooltip-info" data-rel="tooltip" data-placement="right" style="margin-left: 5px; margin-top: 4px;" title="A name by which to recognize these credentials"><i class="icon-info-sign align-top "></i></span>
                                                            </div>
                                                        </div>
                                                        <div class="space-4"></div>
                                                        <div class="form-group" id="userNameIn">
                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Username</label>
                                                            <div class="col-sm-9">
                                                                @Html.TextBoxFor(m => m.UserName, new { @class = "col-xs-10 col-sm-10", @placeholder = "Peter" })
                                                                <span class="help-inline col-xs-12 col-sm-7">
                                                                    <span class="middle" style="color: red;">@Html.ValidationMessageFor(m => m.UserName)</span>
                                                                </span>
                                                                <span class="btn btn-xs btn-white tooltip-info" data-rel="tooltip" data-placement="right" style="margin-left: 5px; margin-top: 4px;" title="The account username. E.g.  roger, rroger, domain\roger"><i class="icon-info-sign align-top "></i></span>
                                                            </div>
                                                        </div>
                                                        <div class="space-4"></div>
                                                        <div class="form-group" id="emailIn">
                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Email</label>
                                                            <div class="col-sm-9">
                                                                @Html.TextBoxFor(m => m.EmailAddressIn, new { @class = "col-xs-10 col-sm-10", @placeholder = "abc@xyz.com" })
                                                                <span class="help-inline col-xs-12 col-sm-7">
                                                                    <span class="middle" style="color: red;">@Html.ValidationMessageFor(m => m.EmailAddressIn)</span>
                                                                </span>
                                                                <span class="btn btn-xs btn-white tooltip-info" data-rel="tooltip" data-placement="right" style="margin-left: 5px; margin-top: 4px;" title="e.g. roger@rabbitsinc.com"><i class="icon-info-sign align-top "></i></span>
                                                                <div class="col-sm-9" id="msgemailin" style="color: red; padding: 0px;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="space-4"></div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Password</label>
                                                            <div class="col-sm-9">
                                                                @Html.PasswordFor(m => m.Password, new { @class = "col-xs-10 col-sm-10", @Value = ViewBag.passin, @placeholder = "Password for Username or Email" })
                                                                <span class="help-inline col-xs-12 col-sm-7">
                                                                    <span class="middle" style="color: red;">@Html.ValidationMessageFor(m => m.Password)</span>
                                                                </span>
                                                                <span class="btn btn-xs btn-white tooltip-info" data-rel="tooltip" data-placement="right" style="margin-left: 5px; margin-top: 4px;" title="The password for the Exchange Account"><i class="icon-info-sign align-top "></i></span>
                                                            </div>
                                                        </div>
                                                        <div class="space-4"></div>
                                                        <div class="form-group" id="domainIn">
                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Domain</label>
                                                            <div class="col-sm-9">
                                                                @Html.TextBoxFor(m => m.Domain, new { @class = "col-xs-10 col-sm-10", @placeholder = "Domain to be used for Connection" })
                                                                <span class="help-inline col-xs-12 col-sm-7">
                                                                    <span class="middle" style="color: red;">@Html.ValidationMessageFor(m => m.Domain)</span>
                                                                </span>
                                                                <span class="btn btn-xs btn-white tooltip-info" data-rel="tooltip" data-placement="right" style="margin-left: 5px; margin-top: 4px;" title="The internal domain e.g. domain, mydomain, davton7, etc"><i class="icon-info-sign align-top "></i></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Use specific URL</label>
                                                            <div class="col-sm-9">
                                                                <input type="checkbox" name="specificURL" value="specificURL" id="specificurlIn">
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style="display: none" id="exurlIn">
                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">URL(if known)</label>
                                                            <div class="col-sm-9">
                                                                @Html.TextBoxFor(m => m.URL, new { @class = "col-xs-10 col-sm-10", @Value = ViewBag.urlin, @placeholder = "https://mail.mydomain/ews/exchange.asmx" })
                                                                <span class="help-inline col-xs-12 col-sm-7">
                                                                    <span class="middle" style="color: red;">@Html.ValidationMessageFor(m => m.URL)</span>
                                                                </span>
                                                                <span class="btn btn-xs btn-white tooltip-info" data-rel="tooltip" data-placement="right" style="margin-left: 5px; margin-top: 4px;" title="This is your exchange webservices URL, usually looks like https://.com/ews/exchange.asmx"><i class="icon-info-sign align-top "></i></span>
                                                                <br /><br />
                                                                <div class="col-sm-9" id="msgurlin" style="color: red; padding: 0px;"></div>
                                                                <div class="alert alert-block alert-info">
                                                                    If your OWA URL is<br />
                                                                    <strong class="green">
                                                                        https://mail.mydomain/owa/
                                                                    </strong><br />
                                                                    your EWS URL will be something like:<br />
                                                                    <strong class="green">
                                                                        https://mail.mydomain/ews/exchange.asmx
                                                                    </strong>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <div style="color: green; margin-top: 20px;" id="sucessmsgin">
                                                                @if (ViewBag.msucessin != null)
                                        { @ViewBag.msucessin
                                        }
                                                            </div>

                                                            <div style="color: red; margin-top: 20px;" id="msgFailInhouse">
                                                                @if (ViewBag.mfailin != null)
                                        { @ViewBag.mfailin
                                        }
                                                            </div>

                                                            <input type="submit" value="Done" style="display: none" id="btnnextIn" class="btn btn-info" onclick="$('#loading1').addClass('inline', 1000);">
                                                            <input type="submit" value="Test" style="display: none" id="btntestIn" class="btn btn-info" onclick="$('#loading1').addClass('inline', 1000);">
                                                            <input type="submit" value="Auto Discover and Save" style="display: none" id="btnautoIn" class="btn btn-info" onclick="$('#loading1').addClass('inline', 1000);">
                                                            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <div id="loading1" style="display: none;">Loading!&nbsp;&nbsp;<img src="~/Content/Images/ajax-loader.gif" alt="" /></div>

                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="alert alert-success">
                                                            <div class="cc-msg" style="text-align:left;">
                                                                <ul class="list-unstyled spaced2">
                                                                    <li>
                                                                        <i class="icon-circle green"></i>
                                                                        Corporate Contacts needs to know the credentials to use to log into your Microsoft Exchange account.
                                                                    </li>
                                                                    <li>
                                                                        <i class="icon-circle green"></i>
                                                                        Corporate Contacts logs into Exchange using mailbox credentials (email address, password, username).
                                                                    </li>
                                                                    <li>
                                                                        <i class="icon-circle green"></i>
                                                                        The details we need are slightly different depending on whether you are using a hosted Exchange, Office 365, or an in-house Exchange system.
                                                                    </li>
                                                                    <li>
                                                                        <i class="icon-circle green"></i>
                                                                        If the Exchange is set up for 'auto-discover', we don't need to know the system URL - we can find the URL from your email address.
                                                                    </li>
                                                                    <li>
                                                                        <i class="icon-circle green"></i>
                                                                        We recommend you try the auto-discover method first.
                                                                    </li>
                                                                    <li>
                                                                        <i class="icon-circle green"></i>
                                                                        If for some reason auto-discover does not work, you can manually enter the URL of the Exchange. Specifically we need the URL of the Exchange Web Services.
                                                                    </li>

                                                                    <li>
                                                                        <i class="icon-circle green"></i>
                                                                        This is usually very similar to the URL used for Outlook Web Access, with a slight variation at the end.
                                                                    </li>
                                                                    <li>
                                                                        <i class="icon-circle green"></i>
                                                                        For example if your OWA URL is: <a>https://mail.mydomain/owa/ </a><br />
                                                                        your EWS URL will be something like: <a>https://mail.mydomain/ews/exchange.asmx </a>
                                                                    </li>

                                                                </ul>



                                                            </div>


                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4" style="display:none;">
                                                        <div class="row">
                                                            <input id="userThisAccountin" type="checkbox" value="true" name="Remember" class="col-xs-1" />
                                                            <div class="col-xs-9">Use this account to access a different mailbox</div>
                                                        </div>
                                                        <div id="showaccountin" style="display: none">
                                                            <div class="row">
                                                                <div class="col-sm-12 control-label">
                                                                    <div class="col-sm-1">
                                                                    </div>
                                                                    <div style="float: left">Email address of other mailbox</div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="col-sm-1">
                                                                    </div>
                                                                    <div class="col-sm-9">
                                                                        @*<input class="form-control" id="otheremailin" type="text" value="">*@
                                                                        <select id="otheremailin" placeholder="Please enter or select secondary email..." style="width: 100%" onchange="getSecondaryEmailin(this)">
                                                                            <option></option>
                                                                            @foreach (var SecondaryAccount in Model.ExistingConnections)
                            {
                                                                                <option value="@SecondaryAccount.SecondaryAccount">@SecondaryAccount.SecondaryAccount</option>
                            }
                                                                        </select>
                                                                        <div id="othermsgemailin" style="color: red;"></div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-1">
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <input type="radio" name="accessTypeIn" value="1" id="1in">Delegation<br>
                                                                    <input type="radio" name="accessTypeIn" value="2" id="2in">Impersonation
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                            }
                                            </div>
                                        </div>
                                    </div>
                    <script>
    $('.cc-msg').slimScroll({
        height: '300px'
    });


                    </script>
                                    <script>

                                        $(document).ready(function () {
                                            //default
                                            $('#btnautoIn').show();
                                            $('#userNameIn').hide();
                                            $('#domainIn').hide();
                                            var otheremailIn = $("#SecondaryAccountIn").val();
                                            var accessTypeIn = $("#AccessTypeIn").val();

                                            //set editable combobox
                                            $("#otheremailin").kendoComboBox();

                                            //// active next button
                                            var username = $("#UserName").val();
                                            var domain = $("#Domain").val();
                                            var url = $("#URL").val();
                                            var password = $("#Password").val();
                                            var email = $("#EmailAddressIn").val();

                                            SetLoginPropertiesIn();

                                            //show and hide exchange layout panal
                                            if ($("#getExchangeTypeIn").val() == 1) {

                                                collapeFunction();
                                            }


                                            // use different mailbox tick box
                                            if (otheremailIn != '') {
                                                $("#userThisAccountin").prop('checked', true);
                                                $("#otheremailin").val(otheremailIn);
                                                $('#showaccountin').show();
                                            }
                                            else {
                                                $("#userThisAccountin").prop('checked', false);
                                                $('#showaccountin').hide();
                                            }

                                            //select access type
                                            if (accessTypeIn == 0 || accessTypeIn == 1) {
                                                $('#1in').prop('checked', true);
                                                $("#AccessTypeIn").val('1')
                                            }
                                            else {
                                                $('#2in').prop('checked', true);
                                                $("#AccessTypeIn").val(accessTypeIn)
                                            }

                                        });

                                        $("#btnnextIn").click(function (e) {
                                            $("#SelectedButtonInhouse").val('nextIn');
                                            $("#ExchangeType").val(1);
                                            $("#ServerVersionInhouse").val($("#ServerVerIn").val());
                                            $("#CreatedCredentialIDIn").val($("#creaCreateInID").val());

                                        });

                                        $("#btnautoIn").click(function (e) {
                                            $("#SelectedButtonInhouse").val('autoInhouse');
                                            $("#ExchangeType").val(1);
                                            $("#msgFailInhouse").hide();

                                        });

                                        $("#btntestIn").click(function (e) {
                                            $("#SelectedButtonInhouse").val('testInhouse');
                                            $("#ExchangeType").val(1);
                                            $("#msgFailInhouse").hide();
                                        });

                                        $("input:radio[name=accessTypeIn]").click(function () {
                                            var value = $(this).val();
                                            $("#AccessTypeIn").val(value);
                                        });

                                        $("#EmailAddressIn").focusout(function () {
                                            var emailaddIn = $("#EmailAddressIn").val();

                                            if (validateEmailIn(emailaddIn)) {
                                                $("#msgemailin").text('');
                                            }
                                            else {
                                                if (emailaddIn != '') {
                                                    $("#msgemailin").text('invalid email');
                                                }
                                                $("#EmailAddressIn").val('')
                                                e.preventDefault();
                                            }

                                        });

                                        $("#URL").focusout(function () {
                                            var urlIn = $("#URL").val();

                                            var txt = urlIn;
                                            var re = /(http(s)?:\\)?([\w-]+\.)+[\w-]+[.com|.in|.org]+(\[\?%&=]*)?/
                                            if (re.test(txt)) {
                                                $("#msgurlin").text('');
                                            }
                                            else {
                                                if (urlIn != '') {
                                                    $("#msgurlin").text('invalid url');
                                                }
                                                $("#URL").val('')

                                            }


                                        });

                                        $('#specificurlIn').change(function () {

                                            if ($(this).is(":checked")) {
                                                $('#exurlIn').show();
                                                $('#btntestIn').show();
                                                $('#btnautoIn').hide();
                                                $("#SpecificURLIn").val('yes');
                                                $('#userNameIn').show();
                                                $('#domainIn').show();
                                                $('#emailIn').hide();
                                            }
                                            else {
                                                $('#exurlIn').hide();
                                                $('#btntestIn').hide();
                                                $('#btnautoIn').show();
                                                $("#SpecificURLIn").val('no');
                                                $('#userNameIn').hide();
                                                $('#domainIn').hide();
                                                $('#emailIn').show();
                                            }

                                            $('#btnnextIn').hide();
                                        });

                                        // Show and Hide different mailbox
                                        $('#userThisAccountin').change(function () {
                                            if ($(this).is(":checked")) {
                                                $('#showaccountin').show();
                                            }
                                            else {
                                                $('#showaccountin').hide();
                                                $("#otheremailin").val('');
                                                $("#SecondaryAccountin").val('');
                                                $("#AccessTypeIn").val('0');
                                            }

                                        });


                                        //$("#otheremailin").focusout(function () {
                                        //    var otheremailIn = $("#otheremailin").val();

                                        //    if (validateEmailIn(otheremailIn)) {
                                        //        $("#othermsgemailin").text('');
                                        //        $("#SecondaryAccountIn").val(otheremailIn);
                                        //        SetLoginPropertiesIn();
                                        //    }
                                        //    else {
                                        //        if (otheremailIn != '') {
                                        //            $("#othermsgemailin").text('invalid email');
                                        //            $("#SecondaryAccountIn").val('');
                                        //            $('#btnnextIn').hide();
                                        //        }
                                        //        $("#otheremailin").val('')

                                        //        e.preventDefault();
                                        //    }

                                        //});

                                        function getSecondaryEmailin(sel) {
                                            var otheremailIn = $("#otheremailin").val();
                                            if (otheremailIn == '') { $("#SecondaryAccountIn").val(''); }
                                            if (validateEmailIn(otheremailIn)) {
                                                $("#othermsgemailin").text('');
                                                $("#SecondaryAccountIn").val(otheremailIn);
                                                SetLoginPropertiesIn();
                                            }
                                            else {
                                                if (otheremailIn != '') {
                                                    $("#othermsgemailin").text('invalid email');
                                                    $("#SecondaryAccountIn").val('');
                                                    $('#btnnextIn').hide();
                                                }
                                                $("#otheremailin").val('')

                                                e.preventDefault();
                                            }
                                        }

                                        function collapeFunction() {

                                            //remove class to collapeone
                                            $("#collapseOne").removeClass('in');
                                            $("#collapseOne").addClass('collapse');
                                            $("#collapseOneHeader").addClass('collapsed');
                                            $("#collapseOneIcon").removeClass('icon-angle-down');
                                            $("#collapseOneIcon").addClass('icon-angle-right');

                                            //add class to collapeone
                                            $("#collapseTwo").removeClass('collapse');
                                            $("#collapseTwo").addClass('in');
                                            $("#collapseTwoHeader").removeClass('collapsed');
                                            $("#collapseTwoIcon").addClass('icon-angle-down');
                                            $("#collapseTwoIcon").removeClass('icon-angle-right');


                                        }

                                        function validateEmailIn(sEmail) {

                                            var filter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                                            if (filter.test(sEmail)) {
                                                return true;
                                            }
                                            else {
                                                return false;
                                            }
                                        }

                                        function SetLoginPropertiesIn() {
                                            // active next button
                                            var username = $("#UserName").val();
                                            var domain = $("#Domain").val();
                                            var url = $("#URL").val();
                                            var password = $("#Password").val();
                                            var email = $("#EmailAddressIn").val();

                                            // show and hide specific url
                                            if ($("#getspecificURLIn").val() == 'yes') {

                                                $("#specificurlIn").prop('checked', true);
                                                $('#exurlIn').show();
                                                $('#btnautoIn').hide();
                                                $('#btntestIn').show();
                                                $('#userNameIn').show();
                                                $('#domainIn').show();
                                                $('#emailIn').hide();


                                                // active test next button
                                                if ((username != '') && (url != '') && (password != '')) {

                                                    $('#btnnextIn').show();
                                                    $('#btntestIn').hide();
                                                    ReadOnlyOfficeInhouse('yes');
                                                }
                                                else {

                                                    $('#btnnextIn').hide();
                                                    $('#btntestIn').show();
                                                    RemoveReadOnlyOfficeInhouse();
                                                }

                                            }
                                            else {

                                                $("#specificurlIn").prop('checked', false);
                                                $('#exurlIn').hide();
                                                $('#btntestIn').hide();
                                                $('#btnautoIn').show();
                                                $('#userNameIn').hide();
                                                $('#domainIn').hide();
                                                $('#emailIn').show();

                                                // active autodiscovery next button
                                                if ((email != '') && (url != '') && (password != '')) {

                                                    $('#btnnextIn').show();
                                                    $('#btnautoIn').hide();
                                                    ReadOnlyOfficeInhouse('no');
                                                }
                                                else {

                                                    $('#btnnextIn').hide();
                                                    $('#btnautoIn').show();
                                                    RemoveReadOnlyOfficeInhouse();
                                                }
                                            }
                                        }

                                        function ReadOnlyOfficeInhouse(speurl) {

                                            $('#Name').prop('readonly', true);
                                            $('#Password').prop('readonly', true);

                                            if (speurl == 'yes') {
                                                $('#UserName').prop('readonly', true);
                                                $('#Domain').prop('readonly', true);
                                                $('#URL').prop('readonly', true);
                                            }
                                            else {
                                                $('#EmailAddressIn').prop('readonly', true);
                                            }
                                        }

                                        function RemoveReadOnlyOfficeInhouse() {
                                            $('#Name').prop('readonly', false);
                                            $('#Password').prop('readonly', false);
                                            $('#UserName').prop('readonly', false);
                                            $('#Domain').prop('readonly', false);
                                            $('#URL').prop('readonly', false);
                                            $('#EmailAddressIn').prop('readonly', false);
                                        }

                                        //disable button
                                        $("#btnautoIn").click(function () {
                                            $('#frmInhouse').submit(function () {
                                                $("#btnautoIn").prop('disabled', false);
                                            });
                                        });

                                        $("#btntestIn").click(function () {
                                            $('#frmInhouse').submit(function () {
                                                $("#btntestIn").prop('disabled', false);
                                            });
                                        });

                                        $("#btnnextIn").click(function () {
                                            $('#frmInhouse').submit(function () {
                                                $("#btnnextIn").prop('disabled', true);
                                            });
                                        });

                                    </script>

                                    @if (Model.PlanID > 2)
                {
                    if ((((Xobnu.Domain.Entities.CCFolder)Session["folderDetail"])) != null)
                    {
                        if ((((Xobnu.Domain.Entities.CCFolder)Session["folderDetail"]).Type) == 2)
                        {

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            <i class="bigger-110 icon-angle-right" data-icon-hide="icon-angle-down" data-icon-show="icon-angle-right"></i>
                                            &nbsp;Crime Diary connection
                                        </a>
                                    </h4>
                                </div>

                                <div class="panel-collapse collapse" id="collapseThree" style="height: 0px;">
                                    <div class="panel-body">
                                        @using (Html.BeginForm("AddCrimeDiary", "Folder", FormMethod.Post, new { @class = "form-horizontal", id = "crime" }))
                                        {
                                            @Html.HiddenFor(x => x.ReturnUrl, new { value = @Model.ReturnUrl })
                                            @Html.Hidden("hosted", false)
                                            <div class="space-4"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Token</label>
                                                <div class="col-sm-9">
                                                    @Html.TextBoxFor(m => m.Connection.SourceID2, new { @class = "col-xs-10 col-sm-5" })
                                                </div>
                                            </div>
                                            <div class="space-4"></div>
                                            <div class="col-md-offset-3 col-md-9">
                                                <input type="submit" id="btncrime" value="Done" class="btn btn-info">
                                                <br />
                                                <br />
                                                <div id="token" style="display: none; width: 200px;" class="alert alert-warning">Token is not match</div>
                                                <div id="foldername" style="display: none; width: 300px;" class="alert alert-warning">Please enter folder name</div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                        }

                    }
                }

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <script>
                    $(function () {
                        $('input[type=checkbox],input[type=radio]').after('<span class="lbl" />');
                    });
                    var isMatch = "No";

                    $('#btncrime').click(function (evt) {
                        var token = $('#Connection_SourceID2').val();
                        if ($('#Connection_SourceID2').val() != '') {

                            $.ajax({
                                url: '@Url.Action("ValidateToken", "Folder")',
                                type: 'GET',
                                contentType: 'application/json; charset=utf-8',
                                dataType: 'json',
                                async: false,
                                data: { tokenId: token }, //JSON.stringify(recruiter),
                                success: function (result) {
                                    if (result == 'sucess') {
                                        isMatch = 'Yes';
                                        $("#token").hide();
                                    }
                                    else {
                                        isMatch = 'No';
                                        $("#token").show();
                                    }
                                },
                                error: function (result) {
                                    $("#token").show();
                                    isMatch = 'No';
                                }
                            });

                            $("#crime").on("submit", function (event) {
                                event.preventDefault();
                                if (isMatch == 'No') return;
                                $(this).off("submit");
                                this.submit();
                            });

                        }
                        else {
                            $("#foldername").show();
                            $("#crime").on("submit", function (event) {
                                event.preventDefault();
                                if (isMatch == 'No') return;
                                $(this).off("submit");
                                this.submit();
                            });
                        }

                    });

                    $(document).ready(function () {
                        $("#Connection_SourceID").keyup(function () {
                            $("#token").hide();
                        });

                        $("#Connection_SourceID2").keyup(function () {
                            $("#token").hide();
                        });

                        $("#Connection_FolderName").keyup(function () {
                            $("#foldername").hide();
                        });
                    });
                </script>

                <script type="text/javascript">
                    jQuery(function ($) {

                        $('[data-rel=tooltip]').tooltip();
                        $('[data-rel=popover]').popover({ html: true });
                    });
                </script>


                @*Editable combobox *@
                <link href="~/kendo/css/kendo.common-material.min.css" rel="stylesheet" />
                <link href="~/kendo/css/kendo.material.min.css" rel="stylesheet" />
                <script src="~/kendo/js/jquery.min.js"></script>
                <script src="~/kendo/js/kendo.all.min.js"></script>

                <style>
                    .k-icon, .k-tool-icon, .k-grouping-dropclue, .k-drop-hint, .k-column-menu .k-sprite, .k-grid-mobile .k-resize-handle-inner:before, .k-grid-mobile .k-resize-handle-inner:after, .k-pager-numbers .k-current-page .k-link:after, .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after {
                        background-image: url('http://cdn.kendostatic.com/2015.1.408/styles/Material/sprite.png');
                        border-color: transparent;
                    }
                </style>

                                    
