@model IEnumerable<Xobnu.Domain.Entities.Credential>

@{
    ViewBag.Title = "View Credentials";
    ViewBag.PageHeader = "View Credentials";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script>
    $('.breadcrumb').html('<li><i class="icon-home home-icon"></i>@Html.ActionLink("Home","Index","Admin")</li><li class="active">Credentials</li>');
</script>

@*<h2>View Credentials</h2>*@

<div class="row">
    <div class="col-xs-12">
        <div class="widget-main no-padding">
                <div class="table-header"><i class="icon-long6-arrow-left"></i>Credentials Details </div>
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thin-border-bottom">
                        <tr>
                            <th>Name</th>
                            <th>URL</th>
                            <th>Email </th>
                            <th>Server Version </th>
                            <th>Hosted Exchange </th>
                            <th>Use Impersonation</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        { 
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.URL</td>
                                <td>@item.EmailAddress</td>
                                <td>@item.ServerVersion</td>
                                <td>@item.IsHostedExchange</td>
                                <td>@item.UseImpersonation </td>
                                <td>
                                     <a style ="margin-right :10px;">@Html.ActionLink("Edit", "EditCredential", new { id= item.ID})</a>
                                    <a style ="margin-right :10px;">@Html.ActionLink("Delete", "DeleteCredential", new { id= item.ID})</a>                                   
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

    </div>
</div>
