@*@using CaptchaMvc.HtmlHelpers*@
@model CorporateContacts.WebUI.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Your Details";
    Layout = "~/Views/Login/_LoginLayout.cshtml";
}

@*<h2>We need your account details.</h2>
@using (Html.BeginForm("SaveAccount", "SignUp", FormMethod.Post))
{
    <p>Name of your organization</p> @Html.EditorFor(m => m.Account.AccountName)@Html.ValidationMessageFor(m => m.Account.AccountName);<br />
    <p>Full Name</p> @Html.EditorFor(m => m.User.FullName)@Html.ValidationMessageFor(m => m.User.FullName);<br />
    <p>Email</p> @Html.EditorFor(m => m.User.Email)@Html.ValidationMessageFor(m => m.User.Email);<br />
    <p>Password</p> @Html.EditorFor(m => m.User.Password)@Html.ValidationMessageFor(m => m.User.Password);<br />
    <p>Confirm Password</p> @Html.EditorFor(m => m.User.ConfirmPassword)@Html.ValidationMessageFor(m => m.User.ConfirmPassword);<br />
    @Html.Captcha("", "Please enter the code appears in the above image", 6, "Please enter the code") 
    @Html.ValidationSummary()
    <br />
    <input type="submit" value="Next >" class="button-clean-gray" />
}*@


<div class="row  center-all-items" style="margin-left: -2px;">
    <div style="display: table-cell;vertical-align: middle;">
        <center>
            <h2 class=" lighter bigger" style="color: #ffffff;margin-top:-20px;margin-bottom:25px;">
                Reset Your Password
            </h2>
               @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { @id = "saveAccountForm" }))
               {
                @Html.HiddenFor(m => m.AccountID)
                <label class="block clearfix">
                    <span class="block input-icon input-icon-right">
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control", onblur = "if(this.value=='')this.value='Password'", onfocus = "if(this.value=='Password')this.value='' " })
                        <i class="icon-lock"></i>
                    </span>
                </label>

                <label class="block clearfix">
                    <span class="block input-icon input-icon-right">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control", onblur = "if(this.value=='')this.value='Password'", onfocus = "if(this.value=='Password')this.value='' " })
                        <i class="icon-retweet"></i>
                    </span>
                </label>


                @Html.ValidationSummary()
                <h5 style="max-width:450px;color: #00ff21;">
                    @if (ViewBag.MessagePass != null)
                    { @ViewBag.MessagePass }
                </h5>

                <div class="clearfix">                    
                    <button type="submit" class="btn btn-sm btn-primary btn-login-submit">
                        Change Password                        
                    </button>
                </div>
               }


            <a onclick="location.href='@Url.Action("Login", "Login")'" style="width:350px;max-width:350px;margin-top:15px;" class="btn btn-sm btn-primary btn-login-submit">
                <i class="icon-arrow-left"></i>
                Back to login
            </a>
        </center>
    </div>
</div>



    <script type="text/javascript">
        window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>

    <!-- inline scripts related to this page -->

    @* <script type="text/javascript">

        function show_box(id) {
            jQuery('.widget-box.visible').removeClass('visible');
            jQuery('#' + id).addClass('visible');
        }

    </script>*@

    <style>
        .validation-summary-errors {
            font-weight: bold;
            color: #f00;
        }
    </style>

