@model CorporateContacts.WebUI.Models.ManageCredentialsViewModel
@{
    ViewBag.Title = "Manage Credentials";
    ViewBag.PageHeader = "Manage Credentials";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script>
    $('.breadcrumb').html('<li><i class="icon-home home-icon"></i>@Html.ActionLink("Home","Index","Admin")</li><li>Manage</li><li class="active">Credentials</li>');
</script>

<div id="changePauseStateLoading" style="display: none;">Applying Requested Changes...&nbsp;&nbsp;<img src="~/Content/Images/ajax-loader.gif" alt="" /></div>
@if (Session["NewCredential"] != null)
{
    if (Session["NewCredential"] == "Yes")
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">
                <i class="icon-remove"></i>
            </button>
            <strong>Great!</strong>
            @{Session["NewCredential"] = null;}
            You have successfully added a new Credential into your Credential List

            <br>
        </div>
    }
}

<div class="row">
    <div class="col-xs-12">

        @if ((((CorporateContacts.Domain.Entities.User)Session["user"]).UserType) == "Admin")
        {
            if ((((CorporateContacts.Domain.Entities.Account)Session["account"]).isOverFlow != true))
            {
                <a class="btn btn-sm btn-primary" href="@Url.Action("AddCredentials", "Folder")">
                    <i class="icon-plus align-top bigger-125"></i>
                    Add Credentials
                </a>
            }
            else
            {
                <a class="btn btn-sm disabled" href="#">
                    <i class="icon-plus align-top bigger-125"></i>
                    Add Credentials
                </a>
            }
            <br />
            <br />

        }

        @if (Model.Credentials.ToList().Count > 0)
        {
            <div class="widget-main no-padding">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="thin-border-bottom">
                            <tr>
                                <th>Name</th>
                                <th>URL</th>
                                <th>Email </th>
                                <th>Server Version </th>
                                <th>Hosted Exchange </th>
                                <th>Use Impersonation</th>
                                @if ((((CorporateContacts.Domain.Entities.User)Session["user"]).UserType) == "Admin")
                                {
                                    <th style="width: 190px;"></th>
                                }
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var credential in Model.Credentials)
                            {
                                <tr>
                                    <td>@credential.Name</td>
                                    <td>@credential.URL</td>
                                    <td>@credential.EmailAddress</td>
                                    <td>@credential.ServerVersion</td>
                                    <td>@credential.IsHostedExchange</td>
                                    <td>@credential.UseImpersonation </td>

                                    @if ((((CorporateContacts.Domain.Entities.User)Session["user"]).UserType) == "Admin")
                                    {
                                        <td>
                                            <a class="btn btn-sm btn-primary" href="@Url.Action("EditCredential", "Folder", new { ID = credential.ID })">Edit</a>
                                            <a class="btn btn-sm btn-primary actCredential" id="@credential.ID" href="#" onclick="$('#lblCredToDelete').html('@credential.Name');">Delete </a>
                                        </td>
                                    }


                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            if ((((CorporateContacts.Domain.Entities.User)Session["user"]).UserType) == "Admin")
            {

                <div class="widget-box">
                    <div class="widget-header widget-header-flat">
                        <h4 class="smaller">Managing your Credentials</h4>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">

                            <ul>
                                <li>
                                    <i style="margin-left: -15px;" class="icon-circle green"></i>
                                    Here you are able to manage all your Credentials saved within Corporate Contacts.
                                </li>
                                <br />
                                <li>
                                    <i style="margin-left: -15px;" class="icon-circle red"></i>
                                    To Create a new Credential, simple click on the   &nbsp;

                                    @if ((((CorporateContacts.Domain.Entities.Account)Session["account"]).isOverFlow != true))
                                    {
                                        <a class="btn btn-sm btn-primary" href="@Url.Action("AddCredentials", "Folder")">
                                            <i class="icon-plus align-top bigger-125"></i>
                                            Add Credentials
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-sm disabled" href="#">
                                            <i class="icon-plus align-top bigger-125"></i>
                                            Add Credentials
                                        </a>
                                    }

                                    &nbsp; Button
                                </li>
                                @*<li>
                                        <i class="icon-ok bigger-110 green"></i>
                                        <a>Click here to create your First Folder</a>
                                    </li>*@
                            </ul>

                        </div>
                    </div>
                </div>
            }
            else
            {
                <p class="alert alert-warning">
                    No Credentials found
                </p>
            }
        }

    </div>
</div>


<div class="col-sm-8">

    <!-- #dialog-message -->

    <div id="dialog-confirm-Credential" class="hide">
        <div class="alert alert-info bigger-110">
            The credential can not be deleted until it is removed from all Connections... It is currently associated with connections:
            <div id="nameOfConn">
            </div>
        </div>


    </div>
    <!-- #dialog-confirm -->
</div>
<!-- ./span -->

<div class="col-sm-6">
    <!-- #dialog-message -->
    <div id="dialog-confirm-delete-creds" class="hide">
        <div class="alert alert-info bigger-110">
            You are about to delete <span id="lblCredToDelete"></span> credential.
        </div>

        <div class="space-6"></div>

        <p class="bigger-110 bolder center grey">
            Are you sure you want to proceed?
        </p>
    </div>
    <!-- #dialog-confirm -->
</div>

<link rel="stylesheet" href="~/assets/css/jquery-ui-1.10.3.full.min.css" />
<script src="~/assets/js/jquery-ui-1.10.3.full.min.js"></script>
<script src="~/assets/js/fuelux/fuelux.spinner.min.js"></script>

<script>

    $('.actCredential').click(function (evt) {
        var creId = $(this).attr('id');

        $("#dialog-confirm-delete-creds").removeClass('hide').dialog({
            resizable: false,
            modal: true,
            title: "Delete Credential",
            title_html: true,
            buttons: [
                {
                    html: "<i class='icon-info-sign bigger-110'></i>&nbsp; Yes",
                    "class": "btn btn-danger btn-xs",
                    click: function () {
                        $.ajax({
                            url: '@Url.Action("DeleteUnAssociateCredential", "Folder")',
                            type: 'GET',
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            async: false,
                            data: { ID: creId }, //JSON.stringify(recruiter),
                            success: function (result) {
                                if (result == 'No') {
                                    window.location.href = '/Folder/ManageCredentials';
                                }
                                else {
                                    $("#nameOfConn").html(result);
                                    $("#dialog-confirm-Credential").removeClass('hide').dialog({
                                        resizable: false,
                                        modal: true,
                                        title: "Associate Connections",
                                        title_html: true,
                                        buttons: [
                                            {
                                                html: "<i class='icon-trash bigger-110'></i>&nbsp; Close",
                                                "class": "btn btn-danger btn-xs",
                                                click: function () {
                                                    $(this).dialog("close");
                                                }
                                            }
                                        ]
                                    });
                                }
                            },
                            error: function (result) {

                            }
                        });
                    }
                }
                ,
                {
                    html: "<i class='icon-remove bigger-110'></i>&nbsp; No",
                    "class": "btn btn-xs",
                    click: function () {
                        $(this).dialog("close");
                        $("#changePauseStateLoading").hide();
                    }
                }
            ]
        });






    });

</script>