@model Xobnu.Domain.Entities.User

@{
    ViewBag.Title = "Change Password";
    ViewBag.PageHeader = "Change Password " + Model.FullName;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<script>
    $('.breadcrumb').html('<li><i class="icon-home home-icon"></i>@Html.ActionLink("Home","Index","Admin")</li><li>Admin</li><li class="active">Change Password</li>');
</script>

@if (Session["NewUserInfo"] != null)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-block alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <p>
                    <strong>
                        @Session["NewUserInfo"].ToString()
                        @{Session["NewUserInfo"] = null;}
                    </strong>
                </p>


            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-sm-12">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="smaller">
                    <i class="icon-user smaller-80"></i>
                    Change Password
                </h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                            @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post))
                            {

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                @Html.PasswordFor(m => m.CurrentPassword, new { placeholder = "Current Password", @class = "form-control" })
                                                <i class="icon-lock"></i>
                                            </span>
                                        </label>
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control", onblur = "if(this.value=='')this.value='Password'", onfocus = "if(this.value=='Password')this.value='' " })
                                                <i class="icon-lock"></i>
                                            </span>
                                        </label>

                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control", onblur = "if(this.value=='')this.value='Password'", onfocus = "if(this.value=='Password')this.value='' " })
                                                <i class="icon-retweet"></i>
                                            </span>
                                        </label>
                                        @*<label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    @Html.DropDownListFor(model => model.UserType, new SelectList(new List<SelectListItem>{ new SelectListItem
                                                            {
                                                                Value = "0",
                                                                Text = "User"
                                                            },new SelectListItem
                                                            {
                                                                Value = "1",
                                                                Text = "Admin"
                                                            }
                                                            }, "Value", "Text"), "-- Please select type --", new { @class = "form-control" })

                                                </span>
                                            </label>*@
                                        <div style="color: red;">
                                            @Html.ValidationSummary()
                                        </div>

                                    </div>
                                    <div class="clearfix ">
                                        <button class="btn btn-sm btn-primary" type="submit">
                                            <i class="icon-save  bigger-110"></i>
                                            Change Password
                                        </button>
                                    </div>

                                </div>

                            }

                       
                    </div>



                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>